
/* Your CSS Code here. */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
	width:70px;
	height:70px;
    background-color: #ccc;
    padding: 10px;
	font-size:32px;
}
.yo-1{
	order:2;
	background-color:red;
}
.yo-2{
	order:3;
	background-color:blue;
}
.yo-3{
	order:1;
	background-color:green;
}
.holder{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}